
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(90deg, #c93222, #e57814);;/*arkaplana geçişli bir renk kullandık sarıdan maviye geçiyor*/
display:flex;
justify-content: center;/*arama butonu ve input ustte ortaladı*/
align-items: center;
height:100vh;/*tam sayfanın ortasına geldi*/
margin: 0;
overflow: hidden;/*scrollbarı gizledik*/
}

.search{/**tanımladığımız search class ı*/
position: relative;
height: 50px;
}

.search .input{
font-family: inherit;
background-color: white;;
border: 0;
font-size: 16px;
padding: 15px;
height: 50px;
width: 50px;
transition: width 0.3s ease;
}

.btn{ /*butonun olduğu kısım*/
background-color: wheat;
color: #e33587;
border: none;
cursor: pointer;
font-size: 24px;
position: absolute;
top: 0;
left: 0;
height: 50px;
width: 50px;
transition: transform 0.3s ease;
}

.input:focus, .btn:focus{
    outline: none;
}

.search .active .input {
    width: 200px;
}

.search .active .btn {
transform: translateX(190px);
}
